In [759]:
import pandas as pd
import numpy as np

In [760]:
df_2001_1 = pd.read_excel("C:/Users/User/Desktop/빅데이터과제1/2001년01분기.xlsx")
df_2001_2 = pd.read_excel("C:/Users/User/Desktop/빅데이터과제1/2001년02분기.xlsx")
df_2001_3 = pd.read_excel("C:/Users/User/Desktop/빅데이터과제1/2001년03분기.xlsx")
df_2001_4 = pd.read_excel("C:/Users/User/Desktop/빅데이터과제1/2001년04분기.xlsx")

In [1076]:
df_2001 = pd.concat([df_2001_1, df_2001_2, df_2001_3, df_2001_4], ignore_index = True).copy()

In [1077]:
df_2001.shape

(1508568, 10)

In [1078]:
df_2001 = df_2001.drop(['주소'], axis=1)

In [1079]:
df_2001

             지역 측정소명   측정소코드        측정일시    SO2   CO     O3    NO2  PM10
0            서울   중구  111121  2001010101  0.010  0.8  0.012  0.047  -999
1            서울   중구  111121  2001010102  0.010  0.7  0.027  0.040  -999
2            서울   중구  111121  2001010103  0.013  0.9  0.015  0.038  -999
3            서울   중구  111121  2001010104  0.014  0.9  0.020  0.036  -999
4            서울   중구  111121  2001010105  0.012  0.7  0.032  0.029  -999
...         ...  ...     ...         ...    ...  ...    ...    ...   ...
1508563  인천 강화군  석모리  831481  2001123120  0.001  0.1  0.013  0.031    37
1508564  인천 강화군  석모리  831481  2001123121  0.001  0.1  0.011  0.032    37
1508565  인천 강화군  석모리  831481  2001123122  0.002  0.1  0.014  0.026    48
1508566  인천 강화군  석모리  831481  2001123123  0.001  0.2  0.018  0.020    37
1508567  인천 강화군  석모리  831481  2001123124  0.001  0.3  0.016  0.022    33

[1508568 rows x 9 columns]

In [1080]:
df_2001['지역']=df_2001['지역'].str.extract(r'(\w{2})')

In [1081]:
df_2001 = df_2001[~df_2001['측정소명'].str.contains('폐쇄')]

In [1082]:
df_2001.tail()

         지역 측정소명   측정소코드        측정일시    SO2   CO     O3    NO2  PM10
1508563  인천  석모리  831481  2001123120  0.001  0.1  0.013  0.031    37
1508564  인천  석모리  831481  2001123121  0.001  0.1  0.011  0.032    37
1508565  인천  석모리  831481  2001123122  0.002  0.1  0.014  0.026    48
1508566  인천  석모리  831481  2001123123  0.001  0.2  0.018  0.020    37
1508567  인천  석모리  831481  2001123124  0.001  0.3  0.016  0.022    33

In [1083]:
list_obst = df_2001['측정소명'].unique()
print(list_obst)

['중구' '한강대로' '종로구' '청계천' '용산구' '광진구' '성동구' '중랑구' '동대문구' '동대문' '청량리' '성북구'
 '도봉구' '은평구' '서대문구' '마포구' '신촌로' '강서구' '구로구' '영등포구' '영등포로' '동작구' '관악구'
 '강남구' '서초구' '도산대로' '송파구' '강동구' '금천구' '강북구' '양천구' '노원구' '신풍동' '인계동' '광교동'
 '단대동' '정자1동' '의정부동' '안양6동' '부림동' '호계동' '철산동' '고잔동' '원시동' '본오동' '원곡동'
 '별양동' '과천동' '교문동' '정왕동' '시화공단' '금곡동' '비전동' '행신동' '김량장동' '설성면' '사우동' '당동'
 '방산면' '광복동' '초량동' '태종대' '전포동' '온천동' '대연동' '학장동' '덕천동' '청룡동' '장림동' '연산동'
 '회원동' '봉암동' '대송동' '성남동' '부곡동(울산)' '여천동(울산)' '야음동' '신정2동' '신정동' '덕신리'
 '무거동' '상봉동' '명서동' '웅남동' '가음정동' '경화동' '동상동' '저구리' '북부동' '화산리' '상남리' '서석동'
 '농성동' '치평동' '두암동' '운암동' '송정1동' '중앙동(전주)' '용당동' '광무동' '주삼동' '월내동' '장천동'
 '중동' '태인동' '나불리' '이도동' '고산리' '남산동' '수창동' '이현동' '평리동' '대명동' '노원동' '신암동'
 '만촌동' '장흥동' '죽도동' '대도동' '성건동' '신음동' '남문동' '공단동' '원평동' '형곡동' '지품면' '태하리'
 '읍내동' '문창동' '구성동' '대흥동1' '송정동(봉명동)' '사천동' '성황동' '독곶리' '동문동' '파도리'
 '중앙동(원주)' '명륜동' '옥천동' '간성읍' '장락동' '삼천동' '팔복동' '신풍동2' '소룡동' '개정동' '남중동'
 '운암면' '신흥' '송림' '구월동' '숭의' '석바위' '부평' '연희' '고잔' '석남' '송해' '소사본동' '내동'
 '중2동' '석모리' '삼산동' '휴천동' '부곡동1' '중앙로' '청천면']

In [1084]:
def observe(obst):
    df_stats = df_2001[df_2001['측정소명'] == obst]
    df_stats = df_stats.replace(-999, np.nan)
    
    return df_stats

In [1085]:
def means(obst):
    df_stats = df_2001[df_2001['측정소명'] == obst]
    df_stats = df_stats.replace(-999, np.nan)
    
    return df_stats.mean()

In [1086]:
name_column_list = []
ingridient = '측정소코드', '측정일시', 'SO2', 'CO', 'O3', 'NO2', 'PM10'

for i in range(11):
    name_column_list.append('측정소코드')
    name_column_list.append('측정일시')
    name_column_list.append('SO2')
    name_column_list.append('CO')
    name_column_list.append('O3')
    name_column_list.append('NO2')
    name_column_list.append('PM10')
    
print(name_column_list)

['측정소코드', '측정일시', 'SO2', 'CO', 'O3', 'NO2', 'PM10', '측정소코드', '측정일시', 'SO2', 'CO', 'O3', 'NO2', 'PM10', '측정소코드', '측정일시', 'SO2', 'CO', 'O3', 'NO2', 'PM10', '측정소코드', '측정일시', 'SO2', 'CO', 'O3', 'NO2', 'PM10', '측정소코드', '측정일시', 'SO2', 'CO', 'O3', 'NO2', 'PM10', '측정소코드', '측정일시', 'SO2', 'CO', 'O3', 'NO2', 'PM10', '측정소코드', '측정일시', 'SO2', 'CO', 'O3', 'NO2', 'PM10', '측정소코드', '측정일시', 'SO2', 'CO', 'O3', 'NO2', 'PM10', '측정소코드', '측정일시', 'SO2', 'CO', 'O3', 'NO2', 'PM10', '측정소코드', '측정일시', 'SO2', 'CO', 'O3', 'NO2', 'PM10', '측정소코드', '측정일시', 'SO2', 'CO', 'O3', 'NO2', 'PM10']

In [1366]:
def jan(obst):
    df_stats = observe(obst)
    
    df_1 = df_stats.loc[df_stats['측정일시'].between(2001010101, 2001013124)]
    df_1.fillna(df_1.mean())
    df_1_fin = df_1.mean()
    df_1_fin = pd.DataFrame(df_1_fin, columns=[obst])
    
    if (obst == '설성면') or (obst == '북부동') or (obst == '치평동') or (obst == '삼산동') or (obst == '휴천동') or (obst == '부곡동1') or (obst == '중앙로') or (obst == '청천면'):
        df_1_fin = df_1_fin.drop(['지역', '측정소명'])
        df_1_fin.index = ['1_측정소코드', '1_측정일시', '1_SO2', '1_CO', '1_O3', '1_NO2', '1_PM10']
        
    else:
        df_1_fin.index = ['1_측정소코드', '1_측정일시', '1_SO2', '1_CO', '1_O3', '1_NO2', '1_PM10']
    
    return df_1_fin

In [1367]:
def feb(obst):
    df_stats = observe(obst)
    
    df_2 = df_stats.loc[df_stats['측정일시'].between(2001020101, 2001023124)]
    df_2.fillna(df_2.mean())
    df_2_fin = df_2.mean()
    df_2_fin = pd.DataFrame(df_2_fin, columns=[obst])
    
    if (obst == '설성면') or (obst == '삼산동') or (obst == '휴천동') or (obst == '부곡동1') or (obst == '중앙로') or (obst == '청천면'):
        df_2_fin = df_2_fin.drop(['지역', '측정소명'])
        df_2_fin.index = ['2_측정소코드', '2_측정일시', '2_SO2', '2_CO', '2_O3', '2_NO2', '2_PM10']
        
    else:
        df_2_fin.index = ['2_측정소코드', '2_측정일시', '2_SO2', '2_CO', '2_O3', '2_NO2', '2_PM10']
    
    return df_2_fin

In [1368]:
def mar(obst):
    df_stats = observe(obst)
    
    df_3 = df_stats.loc[df_stats['측정일시'].between(2001030101, 2001033124)]
    df_3.fillna(df_3.mean())
    df_3_fin = df_3.mean()
    df_3_fin = pd.DataFrame(df_3_fin, columns=[obst])
    
    if (obst == '삼산동') or (obst == '휴천동') or (obst == '부곡동1') or (obst == '중앙로') or (obst == '청천면'):
        df_3_fin = df_3_fin.drop(['지역', '측정소명'])
        df_3_fin.index = ['3_측정소코드', '3_측정일시', '3_SO2', '3_CO', '3_O3', '3_NO2', '3_PM10']
        
    else:
        df_3_fin.index = ['3_측정소코드', '3_측정일시', '3_SO2', '3_CO', '3_O3', '3_NO2', '3_PM10']
    
    return df_3_fin

In [1369]:
def apr(obst):
    df_stats = observe(obst)
    
    df_4 = df_stats.loc[df_stats['측정일시'].between(2001040101, 2001043124)]
    df_4.fillna(df_4.mean())
    df_4_fin = df_4.mean()
    df_4_fin = pd.DataFrame(df_4_fin, columns=[obst])
    
    if (obst == '삼산동') or (obst == '휴천동') or (obst == '부곡동1') or (obst == '중앙로') or (obst == '청천면'):
        df_4_fin = df_4_fin.drop(['지역', '측정소명'])
        df_4_fin.index = ['4_측정소코드', '4_측정일시', '4_SO2', '4_CO', '4_O3', '4_NO2', '4_PM10']
        
    else:
        df_4_fin.index = ['4_측정소코드', '4_측정일시', '4_SO2', '4_CO', '4_O3', '4_NO2', '4_PM10']
    
    return df_4_fin

In [1370]:
def may(obst):
    df_stats = observe(obst)
    
    df_5 = df_stats.loc[df_stats['측정일시'].between(2001050101, 2001053124)]
    df_5.fillna(df_5.mean())
    df_5_fin = df_5.mean()
    df_5_fin = pd.DataFrame(df_5_fin, columns=[obst])
    
    if (obst == '휴천동') or (obst == '부곡동1') or (obst == '중앙로') or (obst == '청천면'):
        df_5_fin = df_5_fin.drop(['지역', '측정소명'])
        df_5_fin.index = ['5_측정소코드', '5_측정일시', '5_SO2', '5_CO', '5_O3', '5_NO2', '5_PM10']
        
    else:
        df_5_fin.index = ['5_측정소코드', '5_측정일시', '5_SO2', '5_CO', '5_O3', '5_NO2', '5_PM10']
    
    return df_5_fin

In [1371]:
def jun(obst):
    df_stats = observe(obst)
    
    df_6 = df_stats.loc[df_stats['측정일시'].between(2001060101, 2001063124)]
    df_6.fillna(df_6.mean())
    df_6_fin = df_6.mean()
    df_6_fin = pd.DataFrame(df_6_fin, columns=[obst])
    
    if (obst == '부곡동1') or (obst == '중앙로') or (obst == '청천면'):
        df_6_fin = df_6_fin.drop(['지역', '측정소명'])
        df_6_fin.index = ['6_측정소코드', '6_측정일시', '6_SO2', '6_CO', '6_O3', '6_NO2', '6_PM10']
        
    else:
        df_6_fin.index = ['6_측정소코드', '6_측정일시', '6_SO2', '6_CO', '6_O3', '6_NO2', '6_PM10']
    
    return df_6_fin

In [1372]:
def jul(obst):
    df_stats = observe(obst)
    
    df_7 = df_stats.loc[df_stats['측정일시'].between(2001070101, 2001073124)]
    df_7.fillna(df_7.mean())
    df_7_fin = df_7.mean()
    df_7_fin = pd.DataFrame(df_7_fin, columns=[obst])
    
    if (obst == '청천면'):
        df_7_fin = df_7_fin.drop(['지역', '측정소명'])
        df_7_fin.index = ['7_측정소코드', '7_측정일시', '7_SO2', '7_CO', '7_O3', '7_NO2', '7_PM10']
        
    else:
        df_7_fin.index = ['7_측정소코드', '7_측정일시', '7_SO2', '7_CO', '7_O3', '7_NO2', '7_PM10']
    
    return df_7_fin

In [1373]:
def aug(obst):
    df_stats = observe(obst)
    
    df_8 = df_stats.loc[df_stats['측정일시'].between(2001080101, 2001083124)]
    df_8.fillna(df_8.mean())
    df_8_fin = df_8.mean()
    df_8_fin = pd.DataFrame(df_8_fin, columns=[obst])
    df_8_fin.index = ['8_측정소코드', '8_측정일시', '8_SO2', '8_CO', '8_O3', '8_NO2', '8_PM10']
    
    return df_8_fin

In [1374]:
def sep(obst):
    df_stats = observe(obst)
    
    df_9 = df_stats.loc[df_stats['측정일시'].between(2001090101, 2001093124)]
    df_9.fillna(df_9.mean())
    df_9_fin = df_9.mean()
    df_9_fin = pd.DataFrame(df_9_fin, columns=[obst])
    df_9_fin.index = ['9_측정소코드', '9_측정일시', '9_SO2', '9_CO', '9_O3', '9_NO2', '9_PM10']
    
    return df_9_fin

In [1375]:
def oct(obst):
    df_stats = observe(obst)
    
    df_10 = df_stats.loc[df_stats['측정일시'].between(2001100101, 2001103124)]
    df_10.fillna(df_10.mean())
    df_10_fin = df_10.mean()
    df_10_fin = pd.DataFrame(df_10_fin, columns=[obst])
    df_10_fin.index = ['10_측정소코드', '10_측정일시', '10_SO2', '10_CO', '10_O3', '10_NO2', '10_PM10']
    
    return df_10_fin

In [1376]:
def nov(obst):
    df_stats = observe(obst)
    
    df_11 = df_stats.loc[df_stats['측정일시'].between(2001110101, 2001113124)]
    df_11.fillna(df_11.mean())
    df_11_fin = df_11.mean()
    df_11_fin = pd.DataFrame(df_11_fin, columns=[obst])
    df_11_fin.index = ['11_측정소코드', '11_측정일시', '11_SO2', '11_CO', '11_O3', '11_NO2', '11_PM10']
    
    return df_11_fin

In [1377]:
def dec(obst):
    df_stats = observe(obst)
    
    df_12 = df_stats.loc[df_stats['측정일시'].between(2001120101, 2001123124)]
    df_12.fillna(df_12.mean())
    df_12_fin = df_12.mean()
    df_12_fin = pd.DataFrame(df_12_fin, columns=[obst])
    df_12_fin.index = ['12_측정소코드', '12_측정일시', '12_SO2', '12_CO', '12_O3', '12_NO2', '12_PM10']
    
    return df_12_fin

In [1378]:
aug('청천면')

                  청천면
8_측정소코드  6.333610e+05
8_측정일시   2.001082e+09
8_SO2             NaN
8_CO     1.037500e+00
8_O3              NaN
8_NO2             NaN
8_PM10            NaN

In [1379]:
dec('중구')

                    중구
12_측정소코드  1.111210e+05
12_측정일시   2.001122e+09
12_SO2    4.020747e-03
12_CO     7.461964e-01
12_O3     7.128631e-03
12_NO2    3.427386e-02
12_PM10   7.991024e+01

In [1380]:
def obst_fin(obst):
    df_stats = observe(obst)
    df_1 = df_stats.loc[df_stats['측정일시'].between(2001010101, 2001013124)]
    df_1 = df_1.fillna(df_1.mean())
    
    df_2 = df_stats.loc[df_stats['측정일시'].between(2001020101, 2001023124)]
    df_2 = df_2.fillna(df_2.mean())
    
    df_3 = df_stats.loc[df_stats['측정일시'].between(2001030101, 2001033124)]
    df_3 = df_3.fillna(df_3.mean())
    
    df_4 = df_stats.loc[df_stats['측정일시'].between(2001040101, 2001043124)]
    df_4 = df_4.fillna(df_4.mean())
    
    df_5 = df_stats.loc[df_stats['측정일시'].between(2001050101, 2001053124)]
    df_5 = df_5.fillna(df_5.mean())
    
    df_6 = df_stats.loc[df_stats['측정일시'].between(2001060101, 2001063124)]
    df_6 = df_6.fillna(df_6.mean())
    
    df_7 = df_stats.loc[df_stats['측정일시'].between(2001070101, 2001073124)]
    df_7 = df_7.fillna(df_7.mean())
    
    df_8 = df_stats.loc[df_stats['측정일시'].between(2001080101, 2001083124)]
    df_8 = df_8.fillna(df_8.mean())
    
    df_9 = df_stats.loc[df_stats['측정일시'].between(2001090101, 2001093124)]
    df_9 = df_9.fillna(df_9.mean())
    
    df_10 = df_stats.loc[df_stats['측정일시'].between(2001100101, 2001103124)]
    df_10 = df_10.fillna(df_10.mean())
    
    df_11 = df_stats.loc[df_stats['측정일시'].between(2001110101, 2001113124)]
    df_11 = df_11.fillna(df_11.mean())
    
    df_12 = df_stats.loc[df_stats['측정일시'].between(2001120101, 2001123124)]
    df_12 = df_12.fillna(df_12.mean())
    
    df_full_data = pd.concat([df_1, df_2, df_3, df_4, df_5, df_6, df_7, df_8, df_9, df_10, df_11, df_12])
    
    return df_full_data

In [1381]:
obst_fin('중구')

         지역 측정소명   측정소코드        측정일시    SO2   CO     O3    NO2      PM10
0        서울   중구  111121  2001010101  0.010  0.8  0.012  0.047  44.84157
1        서울   중구  111121  2001010102  0.010  0.7  0.027  0.040  44.84157
2        서울   중구  111121  2001010103  0.013  0.9  0.015  0.038  44.84157
3        서울   중구  111121  2001010104  0.014  0.9  0.020  0.036  44.84157
4        서울   중구  111121  2001010105  0.012  0.7  0.032  0.029  44.84157
...      ..  ...     ...         ...    ...  ...    ...    ...       ...
1124371  서울   중구  111121  2001123120  0.003  0.7  0.001  0.032  74.00000
1124372  서울   중구  111121  2001123121  0.005  1.1  0.001  0.039  72.00000
1124373  서울   중구  111121  2001123122  0.006  1.4  0.001  0.044  66.00000
1124374  서울   중구  111121  2001123123  0.006  1.7  0.002  0.045  67.00000
1124375  서울   중구  111121  2001123124  0.004  1.0  0.001  0.042  76.00000

[8760 rows x 9 columns]

In [1382]:
list_obst

array(['중구', '한강대로', '종로구', '청계천', '용산구', '광진구', '성동구', '중랑구', '동대문구',
       '동대문', '청량리', '성북구', '도봉구', '은평구', '서대문구', '마포구', '신촌로', '강서구',
       '구로구', '영등포구', '영등포로', '동작구', '관악구', '강남구', '서초구', '도산대로', '송파구',
       '강동구', '금천구', '강북구', '양천구', '노원구', '신풍동', '인계동', '광교동', '단대동',
       '정자1동', '의정부동', '안양6동', '부림동', '호계동', '철산동', '고잔동', '원시동', '본오동',
       '원곡동', '별양동', '과천동', '교문동', '정왕동', '시화공단', '금곡동', '비전동', '행신동',
       '김량장동', '설성면', '사우동', '당동', '방산면', '광복동', '초량동', '태종대', '전포동',
       '온천동', '대연동', '학장동', '덕천동', '청룡동', '장림동', '연산동', '회원동', '봉암동',
       '대송동', '성남동', '부곡동(울산)', '여천동(울산)', '야음동', '신정2동', '신정동', '덕신리',
       '무거동', '상봉동', '명서동', '웅남동', '가음정동', '경화동', '동상동', '저구리', '북부동',
       '화산리', '상남리', '서석동', '농성동', '치평동', '두암동', '운암동', '송정1동', '중앙동(전주)',
       '용당동', '광무동', '주삼동', '월내동', '장천동', '중동', '태인동', '나불리', '이도동',
       '고산리', '남산동', '수창동', '이현동', '평리동', '대명동', '노원동', '신암동', '만촌동',
       '장흥동', '죽도동', '대도동', '성건동', '신음동', '남문동', '공단동', '원평동', '형곡동',
       '지품면', '태하리', '읍내동', '문창동', '구성동', '대흥동1', '송정동(봉명동)', '사천동',
       '성황동', '독곶리', '동문동', '파도리', '중앙동(원주)', '명륜동', '옥천동', '간성읍', '장락동',
       '삼천동', '팔복동', '신풍동2', '소룡동', '개정동', '남중동', '운암면', '신흥', '송림',
       '구월동', '숭의', '석바위', '부평', '연희', '고잔', '석남', '송해', '소사본동', '내동',
       '중2동', '석모리', '삼산동', '휴천동', '부곡동1', '중앙로', '청천면'], dtype=object)

In [1383]:
column_list = ['지역', '측정소명', '측정소코드', '측정일시', 'SO2', 'CO', 'O3', 'NO2', 'PM10']

In [1384]:
df_2001_new = pd.DataFrame()

for i in list_obst:
    df_2001_new = df_2001_new.append(obst_fin(i))
    
df_2001_new

         지역 측정소명   측정소코드        측정일시    SO2   CO     O3    NO2       PM10
0        서울   중구  111121  2001010101  0.010  0.8  0.012  0.047  44.841570
1        서울   중구  111121  2001010102  0.010  0.7  0.027  0.040  44.841570
2        서울   중구  111121  2001010103  0.013  0.9  0.015  0.038  44.841570
3        서울   중구  111121  2001010104  0.014  0.9  0.020  0.036  44.841570
4        서울   중구  111121  2001010105  0.012  0.7  0.032  0.029  44.841570
...      ..  ...     ...         ...    ...  ...    ...    ...        ...
1459987  충북  청천면  633361  2001123120  0.003  1.0  0.028    NaN  48.537921
1459988  충북  청천면  633361  2001123121  0.003  1.0  0.026    NaN  48.537921
1459989  충북  청천면  633361  2001123122  0.003  1.0  0.032    NaN  48.537921
1459990  충북  청천면  633361  2001123123  0.003  1.0  0.034    NaN  48.537921
1459991  충북  청천면  633361  2001123124  0.003  1.0  0.029    NaN  48.537921

[1447248 rows x 9 columns]

In [1385]:
def merge_month(obst):
    df_2001_mean = pd.concat([jan(obst), feb(obst), mar(obst), apr(obst), may(obst), jun(obst), jul(obst), aug(obst), sep(obst), oct(obst), nov(obst), dec(obst)])
    return df_2001_mean

In [1386]:
merge_month('중구')

                   중구
1_측정소코드  1.111210e+05
1_측정일시   2.001012e+09
1_SO2    9.866197e-03
1_CO     1.891094e+00
1_O3     9.773040e-03
...               ...
12_SO2   4.020747e-03
12_CO    7.461964e-01
12_O3    7.128631e-03
12_NO2   3.427386e-02
12_PM10  7.991024e+01

[84 rows x 1 columns]

In [1394]:
obst_list = ['중구', '한강대로', '종로구', '청계천', '용산구', '광진구', '성동구', '중랑구', '동대문구',
       '동대문', '청량리', '성북구', '도봉구', '은평구', '서대문구', '마포구', '신촌로', '강서구',
       '구로구', '영등포구', '영등포로', '동작구', '관악구', '강남구', '서초구', '도산대로', '송파구',
       '강동구', '금천구', '강북구', '양천구', '노원구', '신풍동', '인계동', '광교동', '단대동',
       '정자1동', '의정부동', '안양6동', '부림동', '호계동', '철산동', '고잔동', '원시동', '본오동',
       '원곡동', '별양동', '과천동', '교문동', '정왕동', '시화공단', '금곡동', '비전동', '행신동',
       '김량장동', '설성면', '사우동', '당동', '방산면', '광복동', '초량동', '태종대', '전포동',
       '온천동', '대연동', '학장동', '덕천동', '청룡동', '장림동', '연산동', '회원동', '봉암동',
       '대송동', '성남동', '부곡동(울산)', '여천동(울산)', '야음동', '신정2동', '신정동', '덕신리',
       '무거동', '상봉동', '명서동', '웅남동', '가음정동', '경화동', '동상동', '저구리', '북부동',
       '화산리', '상남리', '서석동', '농성동', '치평동', '두암동', '운암동', '송정1동', '중앙동(전주)',
       '용당동', '광무동', '주삼동', '월내동', '장천동', '중동', '태인동', '나불리', '이도동',
       '고산리', '남산동', '수창동', '이현동', '평리동', '대명동', '노원동', '신암동', '만촌동',
       '장흥동', '죽도동', '대도동', '성건동', '신음동', '남문동', '공단동', '원평동', '형곡동',
       '지품면', '태하리', '읍내동', '문창동', '구성동', '대흥동1', '송정동(봉명동)', '사천동',
       '성황동', '독곶리', '동문동', '파도리', '중앙동(원주)', '명륜동', '옥천동', '간성읍', '장락동',
       '삼천동', '팔복동', '신풍동2', '소룡동', '개정동', '남중동', '운암면', '신흥', '송림',
       '구월동', '숭의', '석바위', '부평', '연희', '고잔', '석남', '송해', '소사본동', '내동',
       '중2동', '석모리', '삼산동', '휴천동', '부곡동1', '중앙로', '청천면']

df_2001_mean = pd.DataFrame()

append_list = []

for i in obst_list:
    append_list.append(merge_month(i))
    
    
df_2001_mean = pd.concat(append_list, axis = 1)
    
df_2001_mean

,중구,한강대로,종로구,청계천,용산구,광진구,성동구,중랑구,동대문구,동대문,...,송해,소사본동,내동,중2동,석모리,삼산동,휴천동,부곡동1,중앙로,청천면
1_측정소코드,1.111210e+05,1.111220e+05,1.111230e+05,1.111240e+05,1.111310e+05,1.111410e+05,1.111420e+05,1.111510e+05,1.111520e+05,1.111530e+05,...,8.236910e+05,8.311510e+05,8.311520e+05,8.311530e+05,8.314810e+05,NaN,NaN,NaN,NaN,NaN
1_측정일시,2.001012e+09,2.001012e+09,2.001012e+09,2.001012e+09,2.001012e+09,2.001012e+09,2.001012e+09,2.001012e+09,2.001012e+09,2.001012e+09,...,2.001012e+09,2.001012e+09,2.001012e+09,2.001012e+09,2.001012e+09,NaN,NaN,NaN,NaN,NaN
1_SO2,9.866197e-03,1.100942e-02,8.217822e-03,NaN,8.667145e-03,6.043127e-03,4.647376e-03,8.025000e-03,4.694767e-03,1.201619e-02,...,4.200271e-03,1.156892e-02,1.309152e-02,8.050179e-03,7.634945e-03,NaN,NaN,NaN,NaN,NaN
1_CO,1.891094e+00,1.199462e+00,1.368421e+00,1.224684e+00,9.486486e-01,7.307278e-01,8.247978e-01,2.017147e+00,1.097581e+00,1.779167e+00,...,4.649526e-01,1.225541e+00,8.816074e-01,7.116987e-01,8.283931e-01,NaN,NaN,NaN,NaN,NaN
1_O3,9.773040e-03,9.901750e-03,1.016869e-02,NaN,8.519621e-03,1.140167e-02,5.254717e-03,1.563187e-02,1.478571e-02,1.408240e-02,...,2.443437e-02,1.363514e-02,1.577927e-02,1.152291e-02,4.275507e-02,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12_SO2,4.020747e-03,4.428781e-03,NaN,7.217862e-03,5.430183e-03,5.053942e-03,2.644044e-03,4.756098e-03,4.208406e-03,6.226860e-03,...,3.691643e-03,5.658291e-03,6.877874e-03,7.086705e-03,3.506173e-03,0.003948,0.006609,0.005723,0.011530,0.002819
12_CO,7.461964e-01,1.055132e+00,NaN,5.838057e-01,3.793201e-01,1.046196e+00,7.529167e-01,8.771186e-01,8.077058e-01,1.896189e+00,...,5.060519e-01,1.117647e+00,1.446839e+00,6.475434e-01,3.428325e-01,0.263467,0.830717,1.153451,1.208097,0.734501
12_O3,7.128631e-03,2.939883e-03,NaN,1.785425e-03,7.011283e-03,7.213001e-03,4.298197e-03,1.482287e-02,1.066025e-02,7.578947e-03,...,2.723343e-02,1.676884e-02,9.747126e-03,5.781792e-03,4.440942e-02,0.017579,0.009436,0.006234,0.011957,0.014689
12_NO2,3.427386e-02,2.891909e-02,NaN,3.906208e-02,4.084485e-02,3.930791e-02,2.914424e-02,3.965297e-02,3.065000e-02,4.632727e-02,...,1.035159e-02,4.500000e-02,2.723420e-02,3.404624e-02,1.469330e-02,0.020289,0.024334,0.031028,0.026628,NaN
12_PM10,7.991024e+01,5.286283e+01,NaN,7.300675e+01,6.741690e+01,8.840387e+01,8.389986e+01,7.186901e+01,6.392279e+01,NaN,...,6.425227e+01,7.824538e+01,8.839213e+01,4.979167e+01,5.471674e+01,41.623288,58.021505,44.717220,76.920485,48.537921

In [1395]:
df_2001_mean.to_excel('C:/Users/User/Desktop/2001년월별_평균.xlsx')

In [1396]:
df_2001_new.to_excel('C:/Users/User/Desktop/2001년_데이터.xlsx')

ValueError: This sheet is too large! Your sheet size is: 1447248, 9 Max sheet size is: 1048576, 16384